<div class="card-container" (click)="openDialog($event)">
    <mat-card class="bg-dreamwave-accent">
    <mat-card-header>
      <mat-card-title class="highlight">{{ skill.title }}</mat-card-title>
      <mat-card-subtitle class="highlight">{{ skill.category }}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p class="highlight">
        <app-truncated-text [text]="skill.description" [maxLength]="200"></app-truncated-text>
      </p>      
    </mat-card-content>
    
    <mat-card-actions>
      <button *ngIf="!isInLearningPath" mat-button class="action" (click)="addToPath($event)"><mat-icon>add</mat-icon>ADD TO PATH</button>
      <button *ngIf="isInLearningPath" mat-button class="delete" (click)="removeFromPath($event)"><mat-icon>delete</mat-icon>REMOVE FROM PATH</button>
    </mat-card-actions>
    
    <img [src]="getImagePath(skill.imageName)" class="inner-image">
  </mat-card>
</div>