mat-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-form-field {
    margin: 10px 0;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}