.new-skill-container {
    background: #24243e;
    background: -webkit-linear-gradient(0.85turn, #000000, #0b0a1d, #14001d);
    background: linear-gradient(0.85turn, #000000, #0b0a1d, #14001d);
}

mat-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-form-field {
    margin: 10px 0;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}