@use '@angular/material' as mat;
@import '@angular/material/theming';

.content {
    display: flex;
    flex-direction: column;
}

.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 7vh 5vw;
}

.documentation {
    min-height: 100vh;
    background-color: #ffffff;
    background: -webkit-linear-gradient(0.3turn, #edfeff, #4de9ee);
    background: linear-gradient(0.3turn, #edfeff, #4de9ee);
    padding: 5vw;

    .subtitle {
        max-width: 1200px;
        line-height: 1.5;
        font-size: 2.4rem;
    }
}

.main-title {
    align-self: flex-start;
    font-family: Roboto;
    font-weight: 400;
    font-size: 10rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: uppercase;
}

.highlight {
    background: -webkit-linear-gradient(0.25turn, #69f0ae, #4de9ee);
    background: linear-gradient(0.25turn, #69f0ae, #4de9ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.subtitle {
    align-self: flex-start;
    font-family: Roboto;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: uppercase;
    background: -webkit-linear-gradient(0.3turn, #4de9ee, #c700ff);
    background: linear-gradient(0.3turn, #4de9ee, #c700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    margin-top: 1em;
}

.actions {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 2em;
    margin-top: 5em;

    button {
        width: 20vw;

        &:not(:last-child) {
            margin-bottom: 2em;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.main-title::after {
    content: "_";
    animation: blink 1s infinite;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2em;
    margin-top: 60px;
}

mat-card {
    margin-bottom: 20px;
}

@media screen and (max-width: 720px) {
    mat-card {
        flex-basis: 100%;
    }

    .card-container {
        grid-template-columns: 100%;
    }
}

@media screen and (min-width: 721px) and (max-width: 1023px) {
    mat-card {
        flex-basis: calc(48%);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    mat-card {
        flex-basis: calc(48%);
    }
}

@media screen and (min-width: 1440px) {
    mat-card {
        flex-basis: calc(32%);
    }
}

.bg-dreamwave-accent {
    background-color: transparentize(#4d98ee, 0.93);
    border-width: 2px;
    border-color: #4d98ee;
    overflow: hidden;
    transition: background-color 0.2s;

    &:hover {
        background-color: transparentize(#4d98ee, 0.85);
    }
}

.bg-dreamwave-accent.demo {
    background: #24243e; /* fallback for old browsers */
    background: -webkit-linear-gradient(0.3turn, #3068d1, #6a0885);
    background: linear-gradient(0.3turn, #3068d1, #6a0885);
    cursor: pointer;
    border: none;
    min-height: 162px;
    transition: filter 0.2s;

    &:hover {
        filter: contrast(0.8) brightness(1.2);

        .inner-image {
            width: 80%;
        }
    }

    .title {
        font-size: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .mat-icon {
        height: 80px;
        width: 80px;
    }

    .material-icons {
        font-size: 80px;
    }
}

.dark {
    background: #24243e; /* fallback for old browsers */
    background: -webkit-linear-gradient(0.85turn, #24243e, #302b63, #7b1fa2);
    background: linear-gradient(0.85turn, #24243e, #302b63, #7b1fa2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

img.fixed-scale {
    width: unset;
    height: 60px;
    margin-bottom: 10px;
}

mat-card-subtitle {
    a {
        margin-right: 0.5em;
    }
}

button {
    &.demo {
        background: -webkit-linear-gradient(to right, #4de9ee 55%, #69f0ae);
        background: linear-gradient(to right, #4de9ee 55%, #69f0ae);
        color: #302b63;
    
        &:hover {
            color: #7b1fa2;
        }
    }

    &.about {
        background: -webkit-linear-gradient(to right, #302b63 55%, #7b1fa2);
        background: linear-gradient(to right, #302b63 55%, #7b1fa2);
        color: #4de9ee;
    
        &:hover {
            color: #69f0ae;
        }
    }

    &:hover {
        filter: brightness(1.2);
    }
}