@use '@angular/material' as mat;
@import '@angular/material/theming';

.content {
    display: flex;
    flex-direction: column;
}

.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.documentation {
    min-height: 100vh;
    background-color: #ffffff;
}

.main-title {
    align-self: flex-start;
    font-family: Roboto;
    font-weight: 400;
    font-size: 10rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: uppercase;
    background: -webkit-linear-gradient(0.25turn, #69f0ae, #4de9ee);
    background: linear-gradient(0.25turn, #69f0ae, #4de9ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    padding-left: 5vw;
    padding-top: 7vh;
}

.highlight {
    background: -webkit-linear-gradient(0.25turn, #69f0ae, #4de9ee);
    background: linear-gradient(0.25turn, #69f0ae, #4de9ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.subtitle {
    align-self: flex-start;
    font-family: Roboto;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: uppercase;
    background: -webkit-linear-gradient(0.3turn, #4de9ee, #c700ff);
    background: linear-gradient(0.3turn, #4de9ee, #c700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    padding-left: 5vw;
    padding-top: 1em;
}

.actions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 4em;
    padding-left: 5vw;

    button {
        width: 15vw;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
  
.main-title::after {
    content: "_";
    animation: blink 1s infinite;
}