.page-container {
    padding: 20px;
    min-height: calc(100vh - 64px);
    box-sizing: border-box;
}
  
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.app-skill-card {
    flex-basis: calc(33% - 20px);
    margin-bottom: 20px;
}
