<div class="page-container bg-dreamwave">
  <div class="section-title">
    <h1 class="highlight">Learning path</h1>
  </div>

  <div>
    <div class="section-title">
      <h1 class="highlight">Skills</h1>
    </div>

    <mat-chip-listbox>
      <mat-chip-option 
        *ngFor="let learningPath of learningPaths$ | async"
        [selected]="learningPath === (selectedLearningPath$ | async)"
        (selectionChange)="onLearningPathSelectionChange(learningPath)"
      >
        {{ learningPath }}
      </mat-chip-option>
    </mat-chip-listbox>

    <div class="card-container">
      <app-skill-card class="app-skill-card" *ngFor="let skill of skills$ | async" [skill]="skill" (openDialogEvent)="openDialog($event)"></app-skill-card>
      <app-new-item-card class="app-skill-card"></app-new-item-card>
    </div>
  </div>
</div>
