<div class="page-container bg-dreamwave">
  
  <div class="loading-container" *ngIf="loadingService.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!(loadingService.loading$ | async) && !error">
    <div class="section-title">
      <h1 class="highlight">Learning path</h1>
    </div>
  
    <div class="learning-path-container">
      <app-learning-paths [learningPathSkills$]="learningPathSkills$"></app-learning-paths>
    </div>
  
    <div>
      <div class="section-title">
        <h1 class="highlight">Skills</h1>
      </div>
  
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let category of categories$ | async"
          [selected]="category === (selectedCategory$ | async)" (selectionChange)="onCategorySelectionChange(category)">
          {{ category.title }}
        </mat-chip-option>
      </mat-chip-listbox>
  
      <div class="card-container">
        <app-skill-card class="app-skill-card" *ngFor="let skill of skills$ | async" [skill]="skill"
          [isInLearningPath]="skillInLearningPath(skill)" (openDialogEvent)="showSkillDetailDialog(skill)"
          (addToPathEvent)="addToLearningPath(skill)" (removeFromPathEvent)="removeFromLearningPath(skill)">
        </app-skill-card>
  
        <app-new-item-card class="app-skill-card" (click)="createNewSkill()"></app-new-item-card>
      </div>
    </div>
  </div>

  <div *ngIf="error">
    <h2 class="section-title errorMessage">
      Error loading data, JSON Server AppService might be waking up! Try refreshing the page in a few seconds.<br>
      {{error.message}}
    </h2>
  </div>
</div>