<div class="content">
    <div class="main-title">
      SKILL REFINING
      <br>PROGRAM
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>description</mat-icon>
        Docs
      </button>
      <button mat-raised-button color="accent" routerLink="demo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>play_arrow</mat-icon>
        Demo
      </button>
    </div>
  </div>