<div class="content">
  <div class="fullscreen">
    <div class="main-title">
      SKILL REFINING
      <br>PROGRAM
    </div>
    <span class="subtitle">
      <span class="highlight">SafeSteer</span> is a program that helps you<br> to improve your driving skills.
    </span>    
    <div class="actions">
      <button mat-raised-button color="primary" (click)="scrollToDocumentation()">
        <mat-icon>description</mat-icon>
        Docs
      </button>
      <button mat-raised-button color="accent" routerLink="/demo">
        <mat-icon>play_arrow</mat-icon>
        Demo
      </button>
    </div>
  </div>
  <div class="documentation" id="documentation">
    <div class="main-title">
      NOT FULL SCREEN
    </div>
    <span class="subtitle">
      <span class="highlight">more</span> text here hahaha! this will be the docs
    </span>    
  </div>
</div>