mat-card {
    background: #24243e; /* fallback for old browsers */
    background: -webkit-linear-gradient(0.85turn, #24243e, #221f47, #5a1677);
    background: linear-gradient(0.85turn, #1c1c30, #221f47, #5a1677);
    min-height: 120px;
}

.highlight {
    background: -webkit-linear-gradient(0.25turn, #69f0ae, #4de9ee);
    background: linear-gradient(0.25turn, #69f0ae, #4de9ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}