.bg-dreamwave {
    background: #24243e; /* fallback for old browsers */
    background: -webkit-linear-gradient(0.85turn, #000000, #17153c, #250035);
    background: linear-gradient(0.85turn, #000000, #17153c, #250035);
}