mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: transparentize(#4de9ee, 0.97);
    border-color: transparentize(#4de9ee, 0.75);
    border-width: 2px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;

    &:hover {
        background-color: transparentize(#4de9ee, 0.9);
        border-color: #4de9ee;
        
        .center-icon {
            color: #4de9ee;
        }
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom-card {
    position: relative;
    background: transparent;
    overflow: hidden;
}

.larger-icon {
    font-size: 48px;
}

.center-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: transparentize(#4de9ee, 0.75);
    transition: color 0.2s;
}

mat-card-content mat-icon {
    font-size: 80px !important;
    height: auto !important;
    width: auto !important;
}

.highlight-accent {
    background: -webkit-linear-gradient(to right, #4de9ee 55%, #69f0ae);
    background: linear-gradient(to right, #4de9ee 55%, #69f0ae);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}