mat-horizontal-stepper {
    background-color: transparent;
}

.no-items-message {
    opacity: 0.7;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.highlight {
    background: -webkit-linear-gradient(to right, #4de9ee 55%, #69f0ae);
    background: linear-gradient(to right, #4de9ee 55%, #69f0ae);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }